# Ignore the node_modules directory
# node_modules/

# Ignore Logs
logs
*.log
*.pdf
*.png
*.xls
*.xlsx
*.xml
*.srctrlbm
*.srctrldb
*.srctrlprj



# Ignore the build directory
# /dist
__pycache__/
src/comm/tbox/xcp_driver/build
data/
tf_ckpts/

.glab-cli/
.idea/

# The file containing environment variables
# .env

# Ignore IDE specific files
#.vscode/
*.pyc
