[submodule "eos/comm/tbox"]
	path = eos/comm/tbox
	url = ssh://git@gitlab.newrizon.work:2222/its/ai/tboxcan.git
	branch = l045a
[submodule "eos/comm/remote"]
	path = eos/comm/remote
	url = ssh://git@gitlab.newrizon.work:2222/its/ai/remotecan.git
	branch = subm
