# Ignore the node_modules directory
# node_modules/

# Ignore Logs
logs
*.dot
*.log
*.svg
*.index
*.out
*.pcap
*.pdf
*.xls
*.xlsx
*.iml
*.xml
*.pyc
*.python-version
*.json
*.srctrlbm
*.srctrldb
*.srctrlprj



# Ignore the build directory
dist
__pycache__/
src/comm/tbox/
src/comm/remotecan/
data
.glab-cli/
.idea/

# The file containing environment variables
# .env

# Ignore IDE specific files
.vscode/
.idea/
/veos.egg-info/
/eos/comm/tbox.original/
/classes.dot
/eos/utils/.ipynb_checkpoints/
/eos/utils/test_suite.ipynb
/example.ini
/packages.dot
/recip.ini
/eos.chat
/eos/classes.png
/eos/packages.png
/*.mmd
/eos/*.png
/eos/html/
*.mmd
/eos/stubs/
/eos/stubs_3rd_parties/
