# Ignore the node_modules directory
# node_modules/

# Ignore Logs
logs
*.log
*.csv
*.svg
*.index
*.out
*.pcap
*.pdf
*.xls
*.xlsx
*.xml
*.srctrlbm
*.srctrldb
*.srctrlprj



# Ignore the build directory
# /dist
__pycache__/
src/comm/tbox/
data
.glab-cli/
.idea/

# The file containing environment variables
# .env

# Ignore IDE specific files
#.vscode/
*.pyc
*.xml
