absl-py
aiofiles
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
astunparse
attrs
Babel
backcall
beautifulsoup4
black
bleach
blue
build
CacheControl
cachetools
certifi
cffi
charset-normalizer
cleo
click
click-default-group
cloudpickle
cloup
colorama
colour
comm
contourpy
crashtest
cryptography
cuda-python
cutelog
cycler
Cython
debugpy
decorator
defusedxml
dill
distlib
dm-tree
dnspython
dulwich
entrypoints
etils
exceptiongroup
executing
fastjsonschema
filelock
flake8
flatbuffers
flit_core
fonttools
fqdn
frozenlist
gast
git-sim
gitdb
GitPython
glcontext
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
html5lib
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
isoduration
isort
isosurfaces
jaraco.classes
jax
jaxlib
jedi
jeepney
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras==2.12.0
keras-nightly
Keras-Preprocessing
keyring
kiwisolver
lazy-object-proxy
libclang
lockfile
manim
ManimPango
mapbox-earcut
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
moderngl
moderngl-window
more-itertools
msgpack
multidict
multipledispatch
munkres
mypy
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
notebook_shim
numpy
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==8.8.1.3
nvidia-pyindex
oauthlib
opencv-python-headless
opt-einsum
packaging
pandas
pandocfilters
parso
pastel
pathspec
patsy
pexpect
pickleshare
Pillow
pkginfo
pkgutil_resolve_name
platformdirs
plotly
pluggy
ply
poetry
poetry-core
poetry-plugin-export
poetry-semver
poetry2conda
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycairo
pycodestyle
pycparser
pydantic
pydub
pyflakes
pyglet
Pygments
PyJWT
pylev
pylint
pymongo
pymongoarrow
pyOpenSSL
pyparsing
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5-sip
pyright
pyrr
pyrsistent
PySocks
pytest
python-dateutil
python-json-logger
python-version
pytz
pyu2f
PyYAML
pyzmq
QtPy
rapidfuzz
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rocketmq
rsa
scikit-learn
scipy
screeninfo
seaborn
SecretStorage
Send2Trash
setuptools-scm
shellingham
sip
six
skia-pathops
smmap
sniffio
soupsieve
srt
stack-data
svgelements
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem
tensorflow-probability
termcolor
terminado
tf-estimator-nightly
threadpoolctl
tinycss2
toml
tomli
tomlkit
tornado
tqdm
traitlets
trove-classifiers
typer
types-protobuf
types-tensorflow
typing_extensions
unicodedata2
uri-template
urllib3
virtualenv
vulture
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
y-py
yarl
ypy-websocket
zipp
