cuda-python
cutelog
debugpy
entrypoints
GitPython
isort
jax
jaxlib
jupyterlab
keras
Keras-Preprocessing
matplotlib
mypy
mypy-extensions
notebook
numpy
onnx
opt-einsum
pandas
pip
plotly
poetry
poetry-core
poetry-plugin-export
poetry-semver
poetry2conda
pyarrow
pylint
pymongo
pymongoarrow
PyQt5
PyQt5-Qt5
PyQt5-sip
pyright
python-dateutil
python-json-logger
pytz
pyzmq
QtPy
reportlab
requests
rocketmq
scikit-learn
scipy
seaborn
tensorboard
tensorflow==2.13
tensorflow-estimator
tensorflow-probability
nvidia-cudnn-cu11
tqdm
traitlets
typing_extensions
urllib3
virtualenv
typeguard
dask
pydantic
ordered-set
dacite
onnx
```
