    tensorflow>=2.6.0
    tensorflow-estimator
    tensorflow-probability
    tensorboard
    python-json-logger
    plotly
    Pillow
    pandas
    opt-einsum
    jupyterlab
    keras
    cuda-python
    numpy
    scipy
    seaborn
    scikit-learn
    matplotlib
    tqdm
    pytest
    pymongo
